<header>
	<!-- 	<meta charset="utf-8">
 -->
	<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="collpase navbar-collapse" id="button"
				style="text-align: center;">
				<a type="button" class=" pull-right btn btn-info" href="#/connexion">Déconnecter
					<span class="glyphicon glyphicon-log-out"></span>
				</a>
				<div class="image">
					<img src="frontEndUtilisateur/images/logo.png" class="  pull-left hidden-xs hidden-sm"
						alt="Cinque Terre">
				</div>
				<div style="margin-top: 18px;">
					<h5 class="titre-accueil" style="margin-top: 30px;">{{UtilisateurConnecterProperties.nom}}
				{{UtilisateurConnecterProperties.prenom}}</h5>
				</div>
			</div>

		</div>
	</div>

	<h2 class="titre">Creation d'un nouveau type de demande</h2>
	<!--*************************************************************************  -->

	<div Class="marginGD">
		<div class=" navbar-header hidden-xs">

			<div class="navbar">

				<div class="btn-group btn-group-justified " role="group"
					aria-label="...">
						<div class="btn-group" role="group" 
					ng-show="'{{UtilisateurConnecterProperties.role}}' == 'bigBoss' || 
					'{{UtilisateurConnecterProperties.role}}' == 'administratif'">
						<button type="button" class="btn btn-primary" ng-click="path('/creation-nouveau-type')">Nouveau
							type de demande</button>
					</div>
					<div class="btn-group" role="group" 
					ng-show="'{{UtilisateurConnecterProperties.role}}' == 'bigBoss' || 
					'{{UtilisateurConnecterProperties.role}}' == 'administratif'">
						<button type="button"
							class="btn btn-primary dropdown-toggle btn-responsive"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="path('/type-demandes-existe')">Type
							de demande existant</button>
					</div>
					<div class="btn-group" role="group"
					 ng-show="'{{UtilisateurConnecterProperties.role}}' == 'bigBoss' || 
					 '{{UtilisateurConnecterProperties.role}}' == 'Agent'">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="path('/gerer-demande')">Suivi
							et Gestion de demande</button>
					</div>
					<div class="btn-group bg-primary" role="group">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"
									ng-click="viderChampRecheche()">
									<span class="glyphicon glyphicon-remove-sign"
										style="color: #3071a9"></span>
								</button>
							</span>
					<div>
						<input id="champRechecher" type="text"
									class="form-control dropdown-toggle" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"
									placeholder="Recherchez" aria-describedby="basic-addon1"
									ng-model="recherche">
								<div class="dropdown-menu dropdown-menu1">
									<div class="dropdown-divider"></div>

									<div
										ng-repeat="typeDemande in listeTypeDemande | filter : recherche">
										<div>
											<a class="dropdown-item" href="#/modifier-type-demandes/{{typeDemande[4]}}">
												{{typeDemande[1]}}</a>
											<div class="divider"></div>
										</div>
									</div>
								</div>
							</div>

							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<span class="glyphicon glyphicon-search" style="color: #3071a9"></span>
								</button>
							</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<br>
<br>
<br>
<br>
<br>
<div class="well">
	<div class="container">
		<br> <br>
		<fieldset>
			<legend>Identification de la nouvelle demande</legend>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						
						<div class="form-group">
							<label for="inputlastname" class="col-md-3 control-label">
								Libellé</label>
							<div class="col-md-8">
								<input type="text" class="form-control" 
									name="prenom" placeholder="Enter la libellé " required
									ng-model="typeDemande.libelle" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputfirstname" class="col-md-3 control-label">
								Titre</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="titreTypeDemande" id="titreTypeDemande"
									placeholder="Enter le titre" ng-model="typeDemande.titre" required/>
							</div>
						</div>
						<div class="form-group">
							<label for="inputemail" class="col-md-3 control-label">
								Actif</label>

							<div class=" radioCss col-md-7">
								<label> </label> <label> <input type="radio" name="sex"
									value="true" ng-model="typeDemande.actif"> Oui <input
									type="radio" name="sex" 
									value="false" ng-model="typeDemande.actif">Non
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div style="margin-top: 20px;"></div>
		<fieldset>
			<legend>Prérequis</legend>

			<div style="margin-left: 30px;">

				<button type="button" ng-click="addRandomItemPrerequis(row)"
					class="btn btn-sm btn-success">
					<i class="glyphicon glyphicon-plus"> </i> Add new item
				</button>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>libellé</th>
							<th>type</th>
							<th>obligatoire</th>
							<th>ordre</th>
							<th style="width: 20px;">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" class="form-control" id="libelle"
								name="libelle" placeholder="libellé" required /></td>
							<td><select class="form-control" id="type">
									<option>text</option>
									<option>date</option>
									<option>email</option>
									<option>number</option>
									<option>radio</option>
							</select>
							</td>
							<td><select class="form-control" id="obligatoire">
									<option>oui</option>
									<option>non</option>
									
							</select>
							</td>
							<td><select  class="form-control" id="ordre" >
							         <option> {{defaultValue}}</option>
									<option ng-repeat="ord in ordreCollectionPrerequis">{{ord.ordre}}</option>
							</select>
							</td>
							<td>
							</td>
						</tr>
						<tr ng-repeat="row in rowCollectionPrerequis">
						   <td>{{row.libelle}}</td>
						   <td>{{row.tybeVariable}}</td>
						   <td>{{row.obligatoire}} </td>
						   <td>{{row.ordre}} </td>
						   <td>
								<button type="button" ng-click="removeItemPrerequis(row)"
									class="btn btn-sm btn-danger">
									<i class="glyphicon glyphicon-remove-circle"> </i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</fieldset>
		<div style="margin-top: 20px;"></div>
		<fieldset>
			<legend>Documents</legend>

			<div style="margin-left: 30px;">

				<button type="button" ng-click="addRandomItemDocument(row)"
					class="btn btn-sm btn-success">
					<i class="glyphicon glyphicon-plus"> </i> Add new item
				</button>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>libellé</th>
							<th>obligatoire</th>
							<th>ordre</th>
							<th style="width: 20px;">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" class="form-control" id="libelleDocument"
								name="libelleDocument" placeholder="libellé" required /></td>
							<td><select class="form-control" id="obligatoireDocument">
									<option>oui</option>
									<option>non</option>
									
							</select>
							</td>
							<td><select class="form-control" id="ordreDocument">
							        <option> {{defaultValueDocument}}</option>
									<option ng-repeat="ord in ordreCollectionDocument">{{ord.ordre}}</option>
							</select>
							</td>
							<td>
							</td>
						</tr>
						<tr ng-repeat="row in rowCollectionDocument">
						   <td>{{row.libelle}}</td>
						   <td>{{row.obligatoire}} </td>
						   <td>{{row.ordre}} </td>
						   <td>
								<button type="button" ng-click="removeItemDocument(row)"
									class="btn btn-sm btn-danger">
									<i class="glyphicon glyphicon-remove-circle"> </i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</fieldset>
		<div style="margin-top: 20px;"></div>
		<fieldset>
			<legend></legend>
				<div class="form-group" style="text-align: center;">
							<div class="espaceMarginA">
								<input type="button" value="Enregistrer" ng-click="enregister()"
									class=" btn-primary btn btn-default "> <a href="#/type-demandes-existe" style="margin-left: 20px;">
									Annuler </a>
							</div>
				</div>
		</fieldset>
	</div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="hidden-xs">

	<div class="navbar-bottom navbar navbar-default  navbar-inverse">

		<div class="container">
			<div class="row">
				<div class="navbar-row1-font col-lg-4" ng-show="'{{UtilisateurConnecterProperties.role}}' == 'bigBoss' || 
					'{{UtilisateurConnecterProperties.role}}' == 'administratif'">
					<a class="navbar-row1-font" href="#/creation-nouveau-type">Nouveau type de
						demande</a><br>
				</div>
				<div class="navbar-row1-font col-lg-4" ng-show="'{{UtilisateurConnecterProperties.role}}' == 'bigBoss' || 
					'{{UtilisateurConnecterProperties.role}}' == 'administratif'">
					<a class="navbar-row1-font" href="#/type-demandes-existe">Type de demande
						existant</a><br>
				</div>
				<div class="navbar-row1-font col-lg-4" ng-show="'{{UtilisateurConnecterProperties.role}}' == 'bigBoss' || 
					 '{{UtilisateurConnecterProperties.role}}' == 'Agent'">
					<a class="navbar-row1-font" href="#/gerer-demande">Suivi et
						Gestion de demande</a>
				</div>
			</div>
		</div>
	</div>
</footer>