@CHARSET "ISO-8859-1";
.radioCss{
	margin-top : 5px;	
	display: inline;	
}
.panel-footer{
	margin-top: 20px;
	padding-top: 0px;
}
.panel{
	margin-top: 20px;
}
.btn-primary {
	height: 40px;
	margin-right: 15px;
	
}
.panel-footer{
	text-align: center;
}
.panel-title{
	padding-top: 0px;
	text-align: center;
	color: #3071a9;
	font-size: 22px;
	font-weight: 300;
	font-family: "times new roman", times, serif;
	font-weight: 300;
	margin-top: 10px;
}
.espaceMarginA {
	margin-top: 10px;
}
.field-message {
	display: inline-block;
	color: #e9322d;
	font-size: 90%;
}
.titre-connexion {
	margin-left : 20px;
	display: inline;
	text-align: center;
	color: #ffffff;
	font-size: 22px;
	font-weight: 300;
	font-family: "times new roman", times, serif;
	font-weight: 300;
}
.collpase .pull-right{
	margin-right: 30px;
	margin-top: 22px;
	color: #00ff40;
}
/**********************/
.input-group {
	margin-left: 20px;
	margin-right: 20px;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-item {
	margin-left: 10px;
}

.dropdown-menu .dropdown-item-petit-ecran {
	color: #fff;
	font-size: 15px;
	font-family: "times new roman", times, serif;
	font-weight: 150;
}

.collpase .nav>li>a {
	height: 40px;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	font-family: "times new roman", times, serif;
	font-weight: 300;
}

.navbar-bottom {
	margin: 0px;
	height: 120px;
	border-top: 1px solid #178ACC;
}
.navbar {
	background-image: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5);
	background-repeat: no-repeat;
	border-bottom: 1px solid #178ACC;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	width: 100%;
	min-height: 70px;
}

.marginGD {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
}

.marginGD .navbar {
	background-image: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5);
	background-repeat: no-repeat;
	border-bottom: 1px solid #178ACC;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	width: 100%;
	min-height: 70px;
}

.dropdown-menu {
	width: 100%;
}

.marginGD .navbar .btn-primary {
	height: 70px;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	font-weight: 300;
}

.ligneCenter {
	text-align: center;
	padding-top: 20px;
}

h4 {
	padding-top: 7px;
}

.espaceMarginA {
	margin-top: 10px;
}

.pull-right {
	margin-right: 30px;
	margin-top: 15px;
	color: #00ff80;
}

.image .img-circle-accueil  {
	text-align: center;
	margin-left: 5px;
	width: 500px;
	height: 150px;
	padding-bottom: 0px;
	display: inline;
}

.image .img-circle-logo {	
	margin-left: 300px;
	width: 70px;
	height: 40px;
	padding-bottom: 0px;
	display: inline;
}

.image{
	margin-top : 15px;
} 
